.wrapper {
    padding: 20px 16px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    
    > ul > li {
        max-width: calc(100svw - 100px);
        overflow-wrap: break-word;
        border: 1px solid var(--border-color-light);
        border-radius: 0 12px 0 12px;
        margin-bottom: 8px;
        
        > div > span {
            color: var(--text-color-light);
        }
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 32px;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    
    .wrapper > ul > li {
        max-width: calc(100svw - 80px);
    }
}